.pagination ul {
  justify-content: center;
  display: flex;
  position: relative;
  align-items: center;
  margin: 0;
  padding: 0;
}
.pagination ul li {
  list-style: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination ul :global(.disabled) {
  opacity: 0.5;
  cursor: unset;
}
.pagination ul li:first-child {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.pagination ul li:last-child {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
